<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomai.xiaomaispringbootbase.Dao.CardMapper">
    <select id="queryCardById" parameterType="int" resultType="com.xiaomai.xiaomaispringbootbase.Bean.Card">
      SELECT *
      FROM tb_card
      WHERE card_id=#{cardId}
    </select>
</mapper>