<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomai.xiaomaispringbootbase.Dao.TestMapper">
    <select id="querybook" resultType="java.lang.String">
        select count(*) FROM book_0
    </select>    
</mapper>